<section id="movie">
<div class="container well">
  	<div class="row">
  		<div class='col-md-2'>
  			<%= image_tag @movie.poster.url(:thumb), :class=>'img-responsive'%>
  		</div>
    	<div class="col-md-5 col-md-offset-1">
			<table class="table table-bordered">
  				<tr>
    				<th>Description:</th>
   					<td><%= @movie.description %></td>
  				</tr>
  				<tr>
   					 <th>Director:</th>
   					 <td><%= @movie.director %></td>
  				</tr>
  				<tr>
    				<th>Length:</th>
    				<td><%= @movie.length %>m</td>
  				</tr>
  				<tr>
    				<th>Genre:</th>
    				<td><%= @movie.genre.name %></td>
  				</tr>
			</table>
 		</div>
 		<div class="col-md-3 col-md-offset-1">
 			<table class="table table-bordered">
  				
 					<% @movie.seances.each do |seance| %>
				<tr><th><%=seance.date.to_formatted_s(:short)%></th><td><%= link_to "<button class='btn btn-primary btn-sm'>Buy Ticket</button>".html_safe, new_movie_seance_ticket_path(@movie, seance) %></td></tr>
			<%end%>
			</table>
		</div>
	</div>
</div>
</section>